<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Login (Not implemented)</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="post" action="/login">
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Username</label>
				<div class="col-sm-10">
				<input type="username" name="username" class="form-control" placeholder="...">
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Password</label>
				<div class="col-sm-10">
				<input type="password" name="password" class="form-control" id="inputPassword3" placeholder="...">
				</div>
			</div>
			<div class="row">
				<div class="col-sm-10">
					<div class="form-check">
						<input class="form-check-input" type="radio"value="option1" checked>
						<label class="form-check-label">
							Remember me
						</label>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-outline-light" data-dismiss="modal">Close</button>
				<button type="submit" class="btn btn-outline-primary">Sign In</button>
				@Html.AntiForgeryToken()
			</div>
		</form>
      </div>
    </div>
  </div>
</div>