@page "/members"
@model MembersModel

<div class="mt-3">
	@foreach(var u in Model.users)
	{
		<div class="row memberWrapper">
			<div class="col-auto">
				<img class="avatar mb-3" src="~/images/avatars/@u.avatar">
			</div>
			<div class="col">
				<h5 class="mt-2 mb-0" style="color:@u.Rank.color;">@u.Username</h5>
				<small>@u.Rank.name</small><br>
				<p class="postIdentify">Posts: @u.posts</p>
			</div>
		</div>
	}
</div>