@page "/profile/{user}/posts"
@model PostsTrackerModel

@foreach(var p in Model.posts)
{
	<div class="post row">
		<div class="col-sm-2 text-center">
			<h5 class="mt-2 @Model.owner.Rank.name">@p.author.Username</h5>
			<small>@Model.owner.Rank.name</small><br>
			<img class="avatar mb-3" src="~/images/avatars/@Model.owner.avatar">
		</div>
		<div class="col">
			@Html.Raw(p.post)
		</div>
	</div>
}