@page  "/register"
@model RegModel
<h3 class="pb-2">Register</h3>
<form method="post" id="reg">
	<div class="alert alert-danger"></div>
	<div class="form-group row">
		<div class="col">
			<input type="username" class="form-control" placeholder="Username" name="username" required>
		</div>
		<div class="col">
			<input type="email" class="form-control" placeholder="Email" name="email" required>
		</div>
	</div>
	<div class="form-group row">
		<div class="col">
			<input type="password" class="form-control" placeholder="Password" name="password" minlength="4" required>
		</div>
	</div>
	<div class="form-group row pb-4 border-bottom">
		<div class="col">
			<input type="password" class="form-control" placeholder="Confirm Password" name="cpassword" required minlength="4">
			<small>Everythinng below is optional</small>
		</div>
	</div>
	<div class="form-group">
    	<label for="inputGender">Gender</label>
		<select class="form-control" id="inputGender" name="gender">
			<option selected>Unspecified</option>
			<option>Female</option>
			<option>Male</option>
		</select>
  	</div>
	<div class="form-group row">
		<div class="col">
			<input type="text" class="form-control" placeholder="Country" name="country">
		</div>
	</div>
	<div class="form-group row">
		<div class="col">
			<input type="number" max="100" min="8" class="form-control" placeholder="Age (will replace with this birthdate eventually)" name="age">
		</div>
	</div>
	<div class="text-center">
		<button type="submit" class="btn-lg btn-outline-primary w-25">Register</button>
	</div>
</form>

<script>
	$(".alert-danger").hide();

	function Form2Json(form) {
		let object = {};
		form.forEach((value, key) => {object[key] = value});
		return JSON.stringify(object);
	}

	$("#reg").submit(function(e){
		e.preventDefault();

		let form = $("#reg")[0];
		let data = Object.fromEntries(new FormData(form).entries());

		let zahtjev = $.ajax({
			type: "POST",
			url: "/register",
			headers: {
				RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val()
			},
			data: JSON.stringify(data),
			dataType: "text"
		});

		zahtjev.done(function (data) {
			console.log("yay")
			console.log(data);
			if(data == "Success") {
				window.location.replace("/");
			} else {
				$(".alert-danger").show();
				$(".alert-danger").text(data);
			}
		});
	});
</script>