@page "/section/{sec:alpha}/newthread"
@model ThreadMaker
@using Microsoft.AspNetCore.Http;

@{
	var user = new Byte[20];
	var exists = HttpContext.Session.TryGetValue("username", out user);

	if(exists) {
		<form method="post" id="threadform">
			<input type="text" class="form-control mt-3 threadheader" placeholder="Thread Name" name="name">

			<div id="editor-container" style="height: 300px">

			</div>
			
			<textarea name="text" style="display:none" id="hiddenArea"></textarea>
			<input name="section" style="display:none"/ value="@RouteData.Values["sec"]">

			<button type="submit" id="postthread" class="btn btn-outline-light mt-3">Create Thread</button>
		</form>

		<script>
			let options = {
				modules: {
					toolbar: [
						[{ header: [1, 2, false] }],
						['bold', 'italic', 'underline'],
						['image', 'code-block']
					]
				},
				theme: 'snow'  // or 'bubble'
			};

			var quill = new Quill('#editor-container', options);

			$("#threadform").on("submit", function(){
				$("#hiddenArea").val($("#editor-container").html());
			});
		</script>
	} else {
		<div class="text-center">
			<h3>You need you log in to make a thread</h3>
		</div>
	}
}