body {
	background-color: #171713;
	background-image: url("../images/semi-trans-bg.png");
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
}

nav {
	background-color: rgba(0,0,0,.7);
	border-bottom: 1px solid #00b365;
}

h3 {
	margin-bottom: 0;
}

h3 a {
	color: #00b365;
}

a {
	color: #00b365;
}

a:hover {
	color: white;
}

.container {
	background-color: #18171c;
	border-style: solid;
	border-color: rgb(0, 179, 101);
}

.profilemessage {
	min-height: 48px;
}

.section {
	background-color: rgba(44,44,53,.5);
	margin-top: 0.5rem;
	text-align: left;
}

.avatar {
	width: 100px;
	height: 100px;
}

.avatarSmall {
	width: 46px;
	height: 46px;
}

.avatarBig {
	width: 150px;
	height: 150px;
}

.user {
	color: #3490dc;
}

.User {
	color: #3490dc;
}

.Moderator {
	color: #34dcaa;
}

.Admin {
	color: #dc6434;
}

.thread:hover {
	background: linear-gradient(90deg,rgba(0, 179, 101,.9),rgba(44,44,53,.5));
}

.thread:hover a:not(:hover) {
	color: white;
}

.threadHeader {
	border-bottom: 3px solid #00b365;
}

.post {
	border-top: 2px solid #00b365;
}

.section:hover{
	background: linear-gradient(90deg,rgba(0, 179, 101,.9),rgba(44,44,53,.5));
}
.section:hover a:not(:hover) {
	color: white !important;
}

.sectionIcon {
	width: 60px;
	height: 60px;
}

.thread {
	color: #00b365;
}

.threadheader {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.ql-toolbar .ql-stroke {
    fill: none;
    stroke: #fff !important;
}

.ql-toolbar .ql-fill {
    fill: #fff !important;
    stroke: none;
}

.ql-toolbar .ql-picker {
    color: #fff !important;
}

.ql-toolbar .ql-picker-item {
	color: #444 !important;
}

.ql-hidden {
	display: none;
}

#logo {
	width: 300px;
	height: 75px;
}

#subnavLeft, #subnavRight {
	background-image: url("../images/nav.png");
	background-repeat: no-repeat;
	background-size: cover;
	max-width: 250px;
	height: 40px;
}

#subnavRight {
	background-image: url("../images/nav2.png");
	max-width: 200px;
}

#log {
	margin-left: 1rem;
	margin-right: 1rem;
}