@page
@model IndexModel

@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Hello, world! The time on the server is @DateTime.Now</p>

	@foreach(var s in Model.baba)
    {
		<div class="row section">
			<div class="col-sm-1 text-center">
				<img class="sectionIcon" src="~/images/@s.Image">
			</div>
			<div class="col">
				<div class="row w-100 d-flex align-items-center">
					<div class="col">
						<h3><a href="/section/@s.Name">@s.Name</a></h3>
						<span>@s.description</span>
					</div>
					<div class="col text-right">
						<span>Latest: Dank memes</span>
						<br>
						<small>Admin, yesterday 12:00</small>
					</div>
				</div>
			</div>
		</div>
    }
</div>
